h1 {
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    text-align: center;
    color: white;
    margin: 0px;
    background-color: #5c2553;
    border-radius: 5px 5px 0px 0px;
}

.container .box {
    position: relative;
    width: 855px;
    margin: auto;
    transform: translate(-50, -50);
    padding: 25px 25px 45px 25px;
    border-radius: 20px;
    background-color: white;
    min-width: 50%;
    overflow: auto;
    box-shadow: 0 0 15px #ed72ec;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
    font-family: system-ui;
    position: relative;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    background-image: url("../peak_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 
li {
    display: inline-block;
}


nav {
    word-spacing: 12em;
    border: 10px 10px;
    border-color: black;
    background-color: #5c2553;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
}



p {
    text-align: center;
}

.footer {
    text-align: center;
}

h2 {
    background-color: #5c2553;
    color: white;
    text-align: center;
    border-radius: 20px;
}

a {
    color: white;
}

li a:active {
    color: gray;
}

li a:hover {
    color: #1c0830;
}

img.emote {
    display: inline-block;
    position: center;
    margin: 5px 15px;
}