.container .box {
    position: sticky;
    width: 75%;
    margin: auto;
    transform: translate(-50, -50);
    padding: 25px 25px 45px 25px;
    border-radius: 20px;
    background-color: white;
    min-width: 50%;
    overflow: auto;
    box-shadow: 0 0 15px #ed72ec;
    margin-top: 125px;
}

h1 {
    font-family: 'Roboto', cursive;
    font-size: 100px;
    text-align: center;
    color: white;
    margin: 0px;
    background-color: #5c2553;
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
    font-family: system-ui;
    display: flex; 
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    word-spacing: 8em;
    border: 10px 10px;
    border-color: black;
    background-color: #5c2553;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    font-weight: 600;
}

html {
    background-image: url("../peak_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 
 li {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
p {
    text-align: center;
}

.footer {
    text-align: center;
}

a{
    color: white;
}
a:active {
    color: gray;
}

li a:hover {
    color: #1c0830;
}

div.container {
    display: flexbox;
}

.container {
    width: 60%;
    margin: auto;
}

h1 {
    position: sticky;
    margin: auto;

}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    margin-bottom: 8px;
}

button {
    padding: 10px;
    background-color: #5c2553;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #481f5c;
}

form input, form textarea, form select{
    border: 0;
    margin: 10px 0;;
    padding: 20px;
    outline: none; 
    background: #f5f5f5;
}



form .input-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.field .item {
    width: 80%;
    padding: 18px;
    border: 2px solid #5c2553;
    outline: none;
    border-radius: 6px;
    margin: 12px;
}

form ,textarea-field .item {
    resize: none;
}

form button {
    padding: 12px, 32px;
    border: none;
    font-size: 20px;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 15px #ed72ec;
    letter-spacing: 1px;
    font-weight: 600;
}

form button:hover {
    box-shadow: none;
}

.field .error-txt {
    color: #d93025;
    text-align: center;
    margin: -5px 0 10px;
    display: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

/*This is to change the view for smaller devices*/
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* This is to change the view to even smaller devices */
@media (max-width: 576px) {
    .container {
        width: 95%;
    }
}
